<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="font/iconfont.css"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/caipin.css"/>
		<link rel="stylesheet" href="css/cpxq.css" />
		<link rel="stylesheet" href="css/team.css" />
		<link rel="stylesheet" href="css/vip.css" />
		<link rel="stylesheet" href="css/integral.css" />
		<link rel="stylesheet" href="css/password.css" />
		<link rel="stylesheet" href="css/order.css" />
		<link rel="stylesheet" href="css/exchange.css" />
		<style type="text/css">
			.content ul li .ckl{
				color: red;
			}
		</style>
	</head>
	<body class="body" ng-controller="Mc1">
		<div ng-view>
			
		</div>
		<!--底部-->
		<footer>
			<ul class="footer" ng-controller="luyou">
				<a href="index.html"><li><i class="iconfont icon-shouye"></i></li></a>
				<li><a href="#cp" style="color: gray; text-decoration: none;">菜品</a>
					<div class="caipin-hid">
						<p ng-click="huoguo()">火锅</p>
						<p ng-click="difangcai()">地方菜</p>
						<p ng-click="xican()">西餐</p>
						<p ng-click="kuaican()">快餐</p>
					</div>
				</li>
				<li>订位
					<div class="caipin-hid">
						<p><a href="#order">我要订货</a></p>
						<p><a href="#vip">会员中心</a></p>
					</div>
				</li>
				<li>VIP
					<div class="caipin-hid">
						<p class="beVip">我要成为VIP
							<div class="vip">
								<div class="vipTop">
									<img src="img/logo_03.jpg"/>
									<span class="yinc">x</span>
								</div>
								<div class="vipIn">
									<h3 class="h3">会员登录</h3>
									<div class="vipIN1">
										<p class="zanghao">账号：<input type="text" class="zhanghao1" /></p>
										<p class="mima">密码：<input type="password" class="mima1"/></p>
										<p class="shenqing"><button class="denglu">登录</button><button class="zhuce">申请VIP</button></p>
									</div>
								</div>
							</div>
						</p>
						<p><a href="#exchange">会员兑换</a></p>
					</div>
				</li>
				<li class="diandan">点单
					<div class="caipin-hid">
						<p>我要订桌</p>
					</div>
				</li>
			</ul>
		</footer>
	</body>
	<script type="text/javascript" src="js/jquery-1.11.3.js" ></script>
	<script type="text/javascript" src="js/angular.js" ></script>
	<script type="text/javascript" src="js/angular-route.js" ></script>
	<script type="text/javascript" src="js/cp.js" ></script>
	<script type="text/javascript" src="js/footer.js" ></script>
</html>
